body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header nav {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 0;
  border-bottom: 5px solid teal;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
header nav .container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header nav .container ul li:nth-child(1) {
  margin-left: 20px;
}
header nav .container ul li:nth-child(1) a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
header nav .container ul li:nth-child(2) {
  margin-left: 20px;
}
header nav .container ul li:nth-child(2) a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
header nav .container ul li:nth-child(3) {
  margin-left: 20px;
}
header nav .container ul li:nth-child(3) a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.developers {
  font-family: Montserrat, sans-serif;
  padding: 30px 0;
}
.developers .container {
  width: 60%;
}
.developers .container h1 {
  color: teal;
}
.developers .container .mail .person-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 30px 50px;
  border: 1px solid rgba(179, 179, 179, 0.678);
}
.developers .container .mail .person-1 .bio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}
.developers .container .mail .person-1 .bio img {
  border-radius: 50% !important;
}
.developers .container .mail .person-1 .bio .bio-link .name {
  font-size: 2rem;
  font-weight: 600;
}
.developers .container .mail .person-1 .bio .bio-link .btn {
  background-color: teal !important;
  color: white;
}
.developers .container .mail .person-1 .skills {
  color: teal;
}
.developers .container .mail .person-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 30px 50px;
  border: 1px solid rgba(179, 179, 179, 0.678);
}
.developers .container .mail .person-2 .bio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}
.developers .container .mail .person-2 .bio img {
  border-radius: 50% !important;
}
.developers .container .mail .person-2 .bio .bio-link .name {
  font-size: 2rem;
  font-weight: 600;
}
.developers .container .mail .person-2 .bio .bio-link .btn {
  background-color: teal !important;
  color: white;
}
.developers .container .mail .person-2 .skills {
  color: teal;
}

@media screen and (max-width: 576px) {
  header nav .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .developers {
    width: 100%;
  }
  .developers .container {
    width: 90%;
  }
  .developers .container .mail .person-1 {
    flex-direction: column;
    text-align: center;
  }
  .developers .container .mail .person-1 .bio {
    flex-direction: column;
  }
  .developers .container .mail .person-2 {
    flex-direction: column;
    text-align: center;
  }
  .developers .container .mail .person-2 .bio {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
